<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
        <div class="container-fluid">

            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 justify-content-between text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Hakkında</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ozgecmis.html">Özgeçmiş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sehrim.html">Şehrim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mirasimiz.html">Mirasımız</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ilgialanlarim.html">İlgi alanlarım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="iletisim.html">İletişim</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <section class="iletisim-page">

<h1>İletişim Formu</h1>

<form id="app">

    <input type="text" v-model="name" placeholder="Ad Soyad">

    <input type="email" v-model="email" placeholder="Email">

    <input type="text" v-model="phone" placeholder="Telefon">

    <input type="password" placeholder="Şifre">

    <input type="date">

    <label>Favori Renk:</label>
    <input type="color">

    <label>Memnuniyet:</label>
    <input type="range">

    <p>Cinsiyet:</p>
    <label><input type="radio" value="erkek" v-model="gender"> Erkek</label>
    <label><input type="radio" value="kadin" v-model="gender"> Kadın</label>

    <p>İlgi Alanları:</p>
    <label><input type="checkbox" value="yazilim" v-model="interests"> Yazılım</label>
    <label><input type="checkbox" value="tasarim" v-model="interests"> Tasarım</label>

    <select v-model="city">
        <option value="">Şehir seç</option>
        <option>İstanbul</option>
        <option>Sakarya</option>
        <option>Kocaeli</option>
        <option>Izmir</option>
        <option>Ankara</option>
    </select>

    <textarea v-model="messageText" placeholder="Mesaj"></textarea>

    <input type="file">

    <label>
        <input type="checkbox" v-model="check">
        Şartları kabul ediyorum
    </label>

    <br><br>

    <button type="button" onclick="validateJS()">JS ile kontrol</button>
    <button type="button" @click="validateVue">Vue ile kontrol</button>

</form>

<p id="error"></p>
<p>{{ message }}</p>

</section>
<script>
function validateJS() {

    let name = document.querySelector('input[type="text"]').value;
    let email = document.querySelector('input[type="email"]').value;
    let phone = document.querySelectorAll('input[type="text"]')[1].value;

    let error = "";

    if(name === "") {
        error = "Ad boş olamaz";
    }
    else if(!email.includes("@")) {
        error = "Email yanlış";
    }
    else if(isNaN(phone)) {
        error = "Telefon sadece rakam olmalı";
    }
    else {
        error = "JS kontrol başarılı ✔";
    }

    document.getElementById("error").innerText = error;
}
</script>
<script src="https://unpkg.com/vue@3"></script>

<script>
const app = Vue.createApp({
    data() {
        return {
            name: "",
            email: "",
            phone: "",
            gender: "",
            interests: [],
            city: "",
            messageText: "",
            check: false,
            message: ""
        }
    },
    methods: {
        validateVue() {
            if(this.name === "") {
                this.message = "Ad boş olamaz";
            }
            else if(!this.email.includes("@")) {
                this.message = "Email yanlış";
            }
            else if(isNaN(this.phone)) {
                this.message = "Telefon sadece rakam olmalı";
            }
            else if(!this.check) {
                this.message = "Onay gerekli";
            }
            else {
                this.message = "Vue kontrol başarılı ✔";
            }
        }
    }
});

app.mount("#app");
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>